.articles {
  margin-top: 20px;
  margin-bottom: 30px;
}

.articles__body {
  display: grid;
  grid-row-gap: 14px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 11px;
    grid-auto-rows: minmax(360px, auto);
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 16px;
  }
}

.articles__footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.articles__button {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 62px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: opacity 0.15s ease;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.8px;
  color: $white;
  border-radius: 24px;
  background-color: $blue-2;
  grid-column: auto;

  @media (min-width: $tablet) {
    display: inline-block;
    width: auto;
    margin-top: 28px;
    padding-right: 128px;
    padding-left: 128px;
  }

  @include hover-opacity();
}

.articles__card {
  &_large {
    grid-row: 1/3;

    @media (min-width: $tablet) {
      .card__preview {
        height: 600px;
      }
    }
  }
}
