@font-face {
  font-family: "SourceSansPro";
  font-weight: 400;
  src: local("SourceSansPro-Regular"),
  url("../fonts/SourceSansPro-Regular.woff2") format("woff2"),
  url("../fonts/SourceSansPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 600;
  src: local("SourceSansPro-SemiBold"),
  url("../fonts/SourceSansPro-SemiBold.woff2") format("woff2"),
  url("../fonts/SourceSansPro-SemiBold.woff") format("woff");
}
