$dark-main: #252626;
$grey-24: #3e4041;
$grey-55: #898a8b;
$beige-2: #ccc8a3;
$beige-4: #eae9d7;
$white: #ffffff;
$blue-2: #3e99ed;
$grey-25: #3e4041;
$green-1: #48b1a3;

$tablet: 768px;
$desktop: 1200px;
